* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }

  
  .container {
    margin: 0 auto;
    max-width: 1440px;
  }

  .main-photo {
    border-radius: 100px;
    box-shadow: 0 0 0 3px green, 0 0 13px #333; 
    width: 150px;
    height: 150px;
  }

  .main-side {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }

  .header-list {
    list-style: none;
  }

  .header-list--link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 800;
  }

  .education {
    margin-top: 30px;
  }

  .education ul li{
    margin-top: 10px;
  }

  /* skills */

  .skills {
    margin-top: 20px;
  }

  .skills ul li{
    margin-top: 10px;
  }

  .language {
    margin-top: 20px;
  }

  .language ul li {
    margin-top: 10px;
  }

  /* right left */

  /* h1 .right-side--title{
    display: block;
    text-align: center;
  } */
  .main-title {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-about {
    margin-top: 70px;
  }

  .main-about  p{
    margin-top: 10px;
  }

  .experiece {
    margin-top: 20px;
  }

  .experiece h3{
    margin-top: 10px;
  }

  .experiece ul{
    margin-top: 10px;
  }

  .hobbies {
    margin-top: 20px;
  }

  .projects {
    margin-top: 20px;
  }

  footer {
    margin-top: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
  }

  .footer_img {
    width: 80px;
  }

  .footer-link ul{
    list-style: none;
    display: flex;
    font-size: 20px;
  }

  .footer-link ul li a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
  }

  h2 {
    background-color: #f4c430;
  }


